*build-MagicCarRemoteControl-Android_for_armeabi_v7a_GCC_4_9_Qt_5_8_0-Debug
*build-MagicCarRemoteControl-Desktop_Qt_5_8_0_GCC_64bit-Debug
*MagicCarRemoteControl-backup
*MotorTest
*SocketTester
*SocketTesterClient
